@using eSPP.Models.RoleManagement
@{
    //pass role dari ViewBag
    RoleManager manager = (RoleManager)ViewBag.RoleManager;
}
<!-- Helper -->
@helper CustomTab(RoleManager rl, string propertyName, string displayName = "")
{
    HtmlRole role = rl.GetHtmlRole(propertyName);
    if (displayName == "")
    {
        displayName = propertyName;
    }
    if (role.IsEdit && role.IsView) //Kalau Edit, Boleh Klik
    {
        <li>
            <a href="#@propertyName" data-toggle="tab">@displayName</a>
        </li>
    }
    else if (role.IsView) //kalau View, tab jadi ReadOnly (tak bole klik)
    {
        <li>
            <a href="#@propertyName">@displayName</a>
        </li>
    }
    //kalau role takde IsView dgn IsEdit, tab tu tak nampak langsung
}
<ul class="nav nav-tabs bordered">
    <li class="active">
        <a href="#Peribadi" data-toggle="tab">Peribadi</a>
    </li>
    @CustomTab(manager, "Pekerjaan")
    @CustomTab(manager, "Kemahiran")
    @CustomTab(manager, "Akademik")
    @CustomTab(manager, "Pewaris")
    @CustomTab(manager, "Tanggungan")
    @CustomTab(manager, "Kuarters")
    @CustomTab(manager, "Gaji", "Gaji/Elaun/Potongan/Caruman")
    @CustomTab(manager, "Anugerah")
    @CustomTab(manager, "Persaraan")
    @CustomTab(manager, "Tatatertib")
    @CustomTab(manager, "Kematian")
    @CustomTab(manager, "Prestasi")
    @CustomTab(manager, "Cuti")
</ul>