

@model eSPP.Models.HR_MATRIKS_GAJI
<div>
    <div class="modal-header">
        <button type="button" class="close" id="Tambah-btn" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title">
            Tambah Matrik Gaji <span class="error"></span>
        </h4>
    </div>
    <div class="modal-body no-padding">

        @using (Html.BeginForm("TambahMatrik", "MatrikGaji", FormMethod.Post, new { id = "matriks-form", @class = "smart-form", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-4">Sistem Saraan</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_SISTEM_SARAAN, "SSB", htmlAttributes: new { @class = "form-control" })
                                    <i></i>SSB
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_SISTEM_SARAAN, "SSM", htmlAttributes: new { @checked = "checked" })
                                    <i></i>SSM
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Gred Gaji  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_GRED_GAJI, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Peringkat  </label>
                        <div class="col col-8">
                            <label class="select">
                                @Html.DropDownListFor(model => model.HR_PERINGKAT, null, String.Empty, new { @class = "form-control" })
                                <i></i>
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Gaji Minimum  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_GAJI_MIN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Gaji Maximum  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_GAJI_MAX, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kenaikan  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_RM_KENAIKAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kod Gaji  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_KOD_GAJI, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </label>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="row">
                        <label class="label col col-4">Gaji Pokok  </label>
                        <div class="col col-8">
                            <label class="input">
                                @Html.EditorFor(model => model.HR_GAJI_POKOK, new { htmlAttributes = new { @class = "form-control" } })

                            </label>
                        </div>
                    </div>
                </section>


                <section>
                    <div class="row">
                        <label class="label col col-4">Status</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "Y", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_AKTIF_IND, "T", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Tidak Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-4">Kanan</label>
                        <div class="col col-8">
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_KANAN_IND, "Y", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Aktif
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.HR_KANAN_IND, "T", htmlAttributes: new { @class = "form-control" })
                                    <i></i>Tidak Aktif
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
            <footer>
                <button type="button" id="btn" class="btn btn-primary">
                    <span class="fa fa-send-o"></span> Hantar
                </button>
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Kembali
                </a>
            </footer>
        }

    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Tambah-btn").click(function () {
            debugger
            $('#TambahModal').modal('hide');
        });

        var $carumanForm = $("#matriks-form").validate({
            // Rules for form validation
            rules: {
                HR_GRED_GAJI: {
                    required: true,
                    remote: {
                        url: "../JadualGaji/CariGaji",
                        type: "get",
                        data: {
                            gaji: function () {
                                return $("#HR_GRED_GAJI").val();
                            },
                            peringkat: function () {
                                return $("#HR_PERINGKAT").val();
                            }

                        }
                    }

                },
                HR_PERINGKAT: {
                    required: true,
                    remote: {
                        url: "../JadualGaji/CariGaji",
                        type: "get",
                        data: {
                            peringkat: function () {
                                return $("#HR_PERINGKAT").val();
                            },
                            gaji: function () {
                                return $("#HR_GRED_GAJI").val();
                            }
                        }
                    }


                },
                HR_GAJI_POKOK: {
                    required: true,
                    remote: {
                        url: "../MatrikGaji/CariGajiPokok",
                        type: "get",
                        data: {
                            kod: function () {
                                return $("#HR_GAJI_POKOK").val();
                            },
                            gaji: function () {
                                return $("#HR_GRED_GAJI").val();
                            }
                        }
                    }
                },
                HR_RM_KENAIKAN: {
                    required: true
                },
                HR_KOD_GAJI: {
                    required: true
                },
            },

            // Messages for form validation
            messages: {
                HR_GRED_GAJI: {
                    required: 'Gred Gaji diperlukan'
                },
                HR_PERINGKAT: {
                    required: 'Peringkat diperlukan',

                },
                HR_GAJI_POKOK: {
                    required: 'Gaji Pokok diperlukan',

                },
                HR_RM_KENAIKAN: {
                    required: 'Kenaikan diperlukan',

                },
                HR_KOD_GAJI: {
                    required: 'Kod Gaji diperlukan',

                },
            },


            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            
            }
        });

        $("#HR_GRED_GAJI").on("change", function (e) { // on sbb nak change when dia click
            debugger;
            $.get("../MatrikGaji/SenaraiPeringkat", { gred: $("#HR_GRED_GAJI").val() }, function (data) { //pangiil value. panggil element $("#").val- (panggil value)
                //alert("Data :"+ data);
                //newparamaeter
                debugger;

                $("#HR_PERINGKAT").html("");
                $.each(data, function (i, v) {
                    $("#HR_PERINGKAT").append($("<option></option>").val(v.HR_PERINGKAT).html(v.HR_PERINGKAT))

                })

            });
        });

        function errorMsg(msg, location, error) {
            $("#TambahModal").modal('hide');
            $("#errorMsg").html("<div>" + msg + "</div>");
            $("#errorMsg").dialog({
                open: function (event, ui) {   // It'll hide Close button
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                closeOnEscape: false,        // Do not close dialog on press Esc button
                modal: true,
                title: 'Mesej',
                buttons: {
                    "Tutup": function () {
                        $(this).dialog("close")
                        if (error == false) {
                            window.location = location;
                            $("#errorMsg").html('');
                            waitMsg();
                        } 
                        else {
                            $('#TambahModal').modal('show');
                        }
                        
                        
                    }
                }
            });
        }

        function waitMsg() {
            $("#TambahModal").modal('hide');
            $("#waitMsg").html("<div class='text-center'><div><span id='img'><img class='rounded mx-auto d-block center' src='../Content/img/ajax-loader.gif' alt='loading' id='img-load' /></span></div><div>Sila tunggu sebentar</div></div>");
            $("#waitMsg").dialog({
                open: function (event, ui) {   // It'll hide Close button
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                closeOnEscape: false,        // Do not close dialog on press Esc button
                modal: true,
                title: 'Mesej'
            });
        }


        $("#btn").on("click", function (v) {
            if ($('#HR_GRED_GAJI').valid() == false || $('#HR_PERINGKAT').valid() == false || $('#HR_GAJI_POKOK').valid() == false) {
                $("#TambahModal").modal('show');
            
            }
            else
            {
                waitMsg()
                var model = { HR_GRED_GAJI: $("#HR_GRED_GAJI").val(), HR_GAJI_POKOK: $("#HR_GAJI_POKOK").val(), HR_KOD_GAJI: $("#HR_KOD_GAJI").val(), HR_PERINGKAT: $("#HR_PERINGKAT").val()}
                $.post("../MatrikGaji/TambahMatrik", { __RequestVerificationToken: $(':input[name="__RequestVerificationToken"]').val(), model: model }, function (data) {
                    $("#waitMsg").dialog("close")
                    $("#waitMsg").html('')
                    var location = "../MatrikGaji/SenaraiGaji?value=" + data.gred;
                    errorMsg(data.msg, location, data.error);

                });
            }
           

        });

        $("#HR_PERINGKAT").on("change", function () {
            if ($(this).val()) {
                $("#HR_GAJI_MIN").attr("disabled", "disabled");
                $("#HR_GAJI_MIN").removeAttr("disabled");
                $("#HR_GAJI_MIN").val("");
                $("#HR_GAJI_MAX").attr("disabled", "disabled");
                $("#HR_GAJI_MAX").removeAttr("disabled");
                $("#HR_GAJI_MAX").val("");
                $("#HR_RM_KENAIKAN").attr("disabled", "disabled");
                $("#HR_RM_KENAIKAN").removeAttr("disabled");
                $("#HR_RM_KENAIKAN").val("");
                $("#HR_KOD_GAJI").attr("disabled", "disabled");
                $("#HR_KOD_GAJI").removeAttr("disabled");
                $("#HR_KOD_GAJI").val("");
            }
            else {
                $("HR_GAJI_MIN").val("");
                $("HR_GAJI_MAX").val("");
                $("HR_RM_KENAIKAN").val("");
                $("HR_KOD_GAJI").val("");
                $("#HR_GAJI_MIN").attr("disabled", "disabled");
                $("#HR_GAJI_MAX").attr("disabled", "disabled");
                $("#HR_RM_KENAIKAN").attr("disabled", "disabled");
                $("#HR_KOD_GAJI").attr("disabled", "disabled");
                $("#HR_GAJI_MIN").removeAttr("disabled");
                $("#HR_GAJI_MAX").removeAttr('readonly', 'readonly');
                $("#HR_RM_KENAIKAN").removeAttr('readonly', 'readonly');
                $("#HR_KOD_GAJI").removeAttr('readonly', 'readonly');


            }

            $.ajax({
                url: "../../MatrikGaji/CariMatrik",
                data: { peringkat: $("#HR_PERINGKAT").val(), gred: $("#HR_GRED_GAJI").val() },
               
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                dataType: "json",
                success: function (data) {
                    debugger;
                    
                        $("#HR_GAJI_MIN").val(data.HR_GAJI_MIN);
                        $("#HR_GAJI_MAX").val(data.HR_GAJI_MAX);
                        $("#HR_RM_KENAIKAN").val(data.HR_RM_KENAIKAN);
                        $("#HR_KOD_GAJI").val(data.HR_KOD_GAJI);
                   
                    
                }
            })
        })


    })
</script>
