@model IEnumerable<eSPP.Models.HR_MAKLUMAT_PERIBADI>
			<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-table fa-fw "></i>
                Maklumat Kakitangan
                <span>
                    >
                    Cari Maklumat Kakitangan
                </span>
            </h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Cari Maklumat Kakitangan</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            
                            <div class="row">
                                @Html.Partial("SearchKakitangan")
                            </div>
                            <br />
                            @using (Html.BeginForm("TabPeribadi", "MaklumatKakitangan", FormMethod.Post, new { id = "mKakitangan", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.Partial("ListKakitangan", Model)
                                if (ViewBag.key == "4")
                                {
                                    <div id="lihat-info">
                                        <div class="row">
                                            <div class="col-md-12 tab-pane">
                                                @Html.Partial("KakitanganTab")
                                                <div class="tab-content padding-10">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer>
                                        <div class="well text-right">
                                            <button type="button" name="cetak" id="btn-cetak" class="btn btn-success hide">
                                                <i class="fa fa-print"></i>
                                            </button>
                                            <button type="submit" name="Command" id="btn-edit" class="btn btn-primary">
                                                <i class="fa fa-edit"> Kemaskini</i>
                                            </button>
                                        </div>
                                    </footer>
                                }
                                
                            }
                            @if (ViewBag.key == "4")
                            { 
                                using (Html.BeginForm("CetakPDF", "MaklumatKakitangan", FormMethod.Post, new { id = "CetakForm", enctype = "multipart/form-data", target = "_blank" }))
                                {
                                    @Html.Hidden("ACTIVE_ITEM")
                                    @Html.Hidden("HR_NO_PEKERJA", Model.ElementAt(0).HR_NO_PEKERJA)
                                }
                            }
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
                </div>
            </article>
            <!-- WIDGET END -->

        </div>



        <!-- end row -->
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            //ActiveTab
            // store the currently selected tab in the hash value
            //$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
            //  var id = $(e.target).attr("href").substr(1);
            //  window.location.hash = id;
            //});

            // on load of the page: switch to the currently selected tab
            let url = location.href.replace(/\/$/, "");
            if ('@ViewBag.key' == "4") {
                if (location.hash) {
                    const hash = window.location.hash;
                    CallTab(hash)
                    
                    $('#myTab a[href="' + hash + '"]').tab('show');
                    url = location.href.replace(/\/#/, "#");
                    history.replaceState(null, null, url);
                    setTimeout(() => {
                        $(window).scrollTop(0);
                    }, 400);
                    if (hash == "#Peribadi" || hash == "#Pekerjaan") {
                        $("#btn-cetak").removeClass("hide");
                    }
                    else {
                        $("#btn-cetak").addClass("hide");
                    }
                }
                else {
                    $("#btn-cetak").removeClass("hide");
                    CallTab("#Peribadi")
                }
            }

            function CallTab(tab) {
                var item = tab.substring(1, tab.length)
                $("#mKakitangan").attr("action", "/MaklumatKakitanganBaru/Tab" + item);
                $('.tab-content').html("");
                $('input[id="ACTIVE_ITEM"]').val(item)
                $.ajax({
                    type: "GET",
                    url: "../MaklumatKakitanganBaru/Tab" + item,
                    contentType: "application/json; charset=utf-8",
                    data: { "id": $("#HR_MAKLUMAT_PERIBADI_HR_NO_PEKERJA").val() },
                    datatype: "json",
                    success: function (data) {
                        $('.tab-content').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }

            $('a[data-toggle="tab"]').on("click", function () {
                let newUrl;
                const hash = $(this).attr("href");

                if (hash == "#Peribadi") {
                    newUrl = url.split("#")[0];
                } else {
                    newUrl = url.split("#")[0] + hash;
                }

                if (hash == "#Peribadi" || hash == "#Pekerjaan") {
                    $("#btn-cetak").removeClass("hide");
                }
                else {
                    $("#btn-cetak").addClass("hide");
                }
                CallTab(hash)
                history.replaceState(null, null, newUrl);
            });

            $("#myTab #ActiveTab").on("click", function () {
                var fid = $(this).attr("href")
                item = fid.substring(1, fid.length)
                $('input[id="ACTIVE_ITEM"]').val(item)

            })

            $("#HR_MAKLUMAT_PERIBADI_HR_NAMA_PEKERJA").on("input", function () {
                $("#HR_NAMA_PEKERJA").val($(this).val())
            })
            $("#HR_MAKLUMAT_PERIBADI_HR_NO_KPBARU").on("input", function () {
                $("#HR_NO_KPBARU").val($(this).val())
            })

            
            //upload image
            $("button[name='upload-image']").click(function () {
                $("input[name='file']").click();
            })
            $("input[name='file']").change(function () {
                readURL(this);
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            

        });
</script>
}