<div class="modal fade" id="ModalTanggungan" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Tambah Tanggungan <span class="error"></span>
                </h4>
            </div>
            <div class="modal-body no-padding smart-form">
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Nama</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_TANGGUNGAN_HR_NAMA_TANGGUNGAN", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">No KP(Baru) / Surat Beranak</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_TANGGUNGAN_HR_NO_KP", null, new { @class = "form-control", maxlength = 12 })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Jantina</label>
                            <div class="col col-8">
                                <label class="select">
                                    @Html.DropDownList("HR_MAKLUMAT_TANGGUNGAN_HR_JANTINA", new SelectList(ViewBag.HR_JANTINA, "Value", "Text"), string.Empty, new { @class = "form-control" })
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Hubungan</label>
                            <div class="col col-8">
                                <label class="select">
                                    @Html.DropDownList("HR_MAKLUMAT_TANGGUNGAN_HR_HUBUNGAN", new SelectList(ViewBag.HR_HUBUNGAN, "Value", "Text"), string.Empty, new { @class = "form-control" })
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Tarikh Lahir</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    @Html.TextBox("HR_MAKLUMAT_TANGGUNGAN_HR_TARIKH_LAHIR", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Tempat Lahir</label>
                            <div class="col col-8">
                                <label class="select">
                                    @Html.DropDownList("HR_MAKLUMAT_TANGGUNGAN_HR_TEMPAT_LAHIR", new SelectList(ViewBag.HR_TEMPAT_LAHIR, "Value", "Text"), string.Empty, new { @class = "form-control"})
                                    <i></i>
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Umur</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_TANGGUNGAN_HR_UMUR", null, new { @class = "form-control", @readonly = "readonly", maxlength = 2 })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Sekolah/IPT</label>
                            <div class="col col-8">
                                <label class="input">
                                    @Html.TextBox("HR_MAKLUMAT_TANGGUNGAN_HR_SEK_IPT", null, new { @class = "form-control" })
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="button" id="btn-Tanggungan" class="btn btn-primary">
                        <span class="fa fa-plus"></span> Tambah
                    </button>
                    <button type="reset" class="btn btn-default">
                        Reset
                    </button>
                    <button type="button" id="btn-back" class="btn btn-default" data-dismiss="modal">
                        Kembali
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>