@model eSPP.Models.MaklumatKakitanganModels
@{ 
    SelectList Peringkat = ViewBag.Peringkat;
    SelectList HR_KURNIAAN_IND = ViewBag.HR_KURNIAAN_IND;
    List<HR_KURNIAAN> Kurniaan = ViewBag.Kurniaan;
    List<SelectListItem> HR_STATUS = ViewBag.HR_STATUS;
}
<div class="tab-pane" id="Anugerah">
    <div class="row">
        <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <legend>
                Maklumat Anugerah Pingat
                <span class="onoffswitch">
                    <input type="checkbox" name="sah[]" class="onoffswitch-checkbox" id="mAnugerah-btn" value="off">

                    <label class="onoffswitch-label" for="mAnugerah-btn">
                        <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
                <input type="hidden" id="Anugerah1" name="kemaskini" class="form-control" value="off">
            </legend>
            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Partial("ModalAnugerahPingat")
                    <table id="datatable_AnugerahPingat" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th data-class="expand">Peringkat Kurnian</th>
                                <th>Nama Kurniaan</th>
                                <th>Nama Darjah Kebesaran / Bintang / Pingat</th>
                                <th>Tarikh Percalonan</th>
                                <th>Nama Pegawai yang Mencalonkan</th>
                                <th>Keputusan Pencalonan</th>
                                <th>Tarikh Kurniaan</th>
                                <th>Padam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var item = 0; item < Model.HR_MAKLUMAT_KURNIAAN.Count(); item++)
                            {
                                <tr>
                                    <td><span id="num">@(item + 1)</span></td>
                                    <td>
                                        <div id="rowtxt">
                                            @{
                                                string peringkat = null;
                                                if (Peringkat.Where(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_PERINGKAT).Count() > 0)
                                                {
                                                    peringkat = Peringkat.FirstOrDefault(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_PERINGKAT).Text;
                                                }
                                            }
                                            @peringkat
                                        </div>
                                        <div class="select">
                                            <select name="HR_MAKLUMAT_KURNIAAN[@item].HR_PERINGKAT" class="form-control HR_MAKLUMAT_KURNIAAN_HR_PERINGKAT" style="display:none;" disabled="disabled" data-msg-required="Sila pilih peringkat kurniaan">
                                                @foreach (var op in Peringkat)
                                                {
                                                    <option value="@op.Value" @(op.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_PERINGKAT ? "selected" : "")>@op.Text</option>
                                                }
                                            </select>
                                            <input type="hidden" name="HR_MAKLUMAT_KURNIAAN[@item].HR_NP_PENCALON" class="form-control hide" value="@Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_NP_PENCALON" />
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">
                                            @{
                                                string kurniaanind = null;
                                                if (HR_KURNIAAN_IND.Where(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KURNIAAN_IND).Count() > 0)
                                                {
                                                    kurniaanind = HR_KURNIAAN_IND.FirstOrDefault(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KURNIAAN_IND).Text;
                                                }
                                            }
                                            @kurniaanind
                                        </div>
                                        <div class="select">
                                            <select name="HR_MAKLUMAT_KURNIAAN[@item].HR_KURNIAAN_IND" class="form-control HR_MAKLUMAT_KURNIAAN_HR_KURNIAAN_IND" style="display:none;" disabled="disabled" data-msg-required="Sila pilih nama kurniaan">
                                                @foreach (var op in HR_KURNIAAN_IND)
                                                {
                                                    <option value="@op.Value" @(op.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KURNIAAN_IND ? "selected" : "")>@op.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">
                                            @{
                                                string kurniaan = null;
                                                if (Kurniaan.Where(s => s.HR_KOD_KURNIAAN == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KOD_KURNIAAN).Count() > 0)
                                                {
                                                    kurniaan = Kurniaan.FirstOrDefault(s => s.HR_KOD_KURNIAAN == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KOD_KURNIAAN).HR_PENERANGAN;
                                                }
                                            }
                                            @kurniaan
                                        </div>
                                        <div class="select">
                                            <select name="HR_MAKLUMAT_KURNIAAN[@item].HR_KOD_KURNIAAN" class="form-control HR_MAKLUMAT_KURNIAAN_HR_KOD_KURNIAAN" style="display:none;" disabled="disabled" data-msg-required="Sila pilih nama darjah kebesaran/bintang/pingat">
                                                @foreach (var op in Kurniaan)
                                                {
                                                    <option value="@op.HR_KOD_KURNIAAN" @(op.HR_KOD_KURNIAAN == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_KOD_KURNIAAN ? "selected" : "")>@op.HR_PENERANGAN</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">@string.Format("{0:dd/MM/yyyy}", Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_TARIKH_PENCALONAN)</div>
                                        <div class="input">
                                            <input type="hidden" name="HR_MAKLUMAT_KURNIAAN[@item].HR_TARIKH_PENCALONAN" class="form-control HR_MAKLUMAT_KURNIAAN_HR_TARIKH_PENCALONAN" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_TARIKH_PENCALONAN)" data-msg-required="Sila masukkan tarikh pencalonan" />
                                        </div>
                                    </td>
                                    <td>
                                        @{
                                            List<HR_MAKLUMAT_PERIBADI> nPekerja = ViewBag.HR_NP_PENCALON;
                                            var namaPekerja = nPekerja.SingleOrDefault(s => s.HR_NO_PEKERJA == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_NP_PENCALON);
                                            string namaPekerja2 = null;
                                            if (namaPekerja != null)
                                            {
                                                namaPekerja2 = namaPekerja.HR_NAMA_PEKERJA;
                                            }
                                        }
                                        <div id="rowtxt">@namaPekerja2</div>
                                        <div class="input">
                                            <div class="input-group">
                                                <input type="hidden" name="HR_MAKLUMAT_KURNIAAN[@item].HR_NAMA_PENCALON" class="form-control HR_MAKLUMAT_KURNIAAN_HR_NAMA_PENCALON" value="@namaPekerja2" readonly="readonly" data-msg-required="Sila pilih nama pegawai yang mencalonkan" />
                                                <div class="input-group-btn">
                                                    <a class="btn btn-default btn-sm btn-pekerja2" id="btn-pekerja2" href="javascript:void(0)" title="Cari Pekerja" style="display:none;"><i class="fa fa-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">
                                            @{
                                                string status = null;
                                                if (HR_STATUS.Where(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_STATUS).Count() > 0)
                                                {
                                                    status = HR_STATUS.FirstOrDefault(s => s.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_STATUS).Text;
                                                }
                                            }
                                            @status
                                        </div>
                                        <div class="select">
                                            <select name="HR_MAKLUMAT_KURNIAAN[@item].HR_STATUS" class="form-control HR_MAKLUMAT_KURNIAAN_HR_STATUS" style="display:none;" disabled="disabled">
                                                @foreach (var op in HR_STATUS)
                                                {
                                                    <option value="@op.Value" @(op.Value == Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_STATUS ? "selected" : "")>@op.Text</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">@string.Format("{0:dd/MM/yyyy}", Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_TARIKH_KURNIAAN)</div>
                                        <div class="input">
                                            <input type="hidden" name="HR_MAKLUMAT_KURNIAAN[@item].HR_TARIKH_KURNIAAN" class="form-control HR_MAKLUMAT_KURNIAAN_HR_TARIKH_KURNIAAN" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_MAKLUMAT_KURNIAAN.ElementAt(item).HR_TARIKH_KURNIAAN)" />
                                        </div>
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-danger btn-remove-AnugerahPingat" name="remove-AnugerahPingat" type="button" disabled="disabled">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <br />
        <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <legend>
                Maklumat Anugerah Cemerlang
                <span class="onoffswitch">
                    <input type="checkbox" name="sah[]" class="onoffswitch-checkbox" id="mAnugerah2-btn" value="off">

                    <label class="onoffswitch-label" for="mAnugerah2-btn">
                        <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
                <input type="hidden" id="Anugerah2" name="kemaskini" class="form-control" value="off">
            </legend>
            <div class="row">
                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    @Html.Partial("ModalAnugerahCemerlang")
                    <table id="datatable_AnugerahCemerlang" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th width="5%">No</th>
                                <th width="75%">Nama Anugerah</th>
                                <th width="15%">Tarikh Penerimaan</th>
                                <th width="15%">Tahun</th>
                                <th width="5%">Padam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var item = 0; item < Model.HR_ANUGERAH_CEMERLANG.Count(); item++)
                            {
                                <tr>
                                    <td><span id="num">@(item + 1)</span></td>
                                    <td>
                                        <div id="rowtxt">@Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_NAMA_ANUGERAH</div>
                                        <div class="input">
                                            <input type="hidden" name="HR_ANUGERAH_CEMERLANG[@item].HR_NAMA_ANUGERAH" class="form-control HR_ANUGERAH_CEMERLANG_HR_NAMA_ANUGERAH" value="@Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_NAMA_ANUGERAH" data-msg-required="Sila masukkan nama anugerah" />
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">@string.Format("{0:dd/MM/yyyy}", Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_TARIKH_PENERIMAAN)</div>
                                        <div class="input">
                                            <input type="hidden" name="HR_ANUGERAH_CEMERLANG[@item].HR_TARIKH_PENERIMAAN" class="form-control HR_ANUGERAH_CEMERLANG_HR_TARIKH_PENERIMAAN" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_TARIKH_PENERIMAAN)" data-msg-required="Sila masukkan tarikh penerimaan" />
                                        </div>
                                    </td>
                                    <td>
                                        <div id="rowtxt">@Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_TAHUN</div>
                                        <div class="input">
                                            <input type="hidden" name="HR_ANUGERAH_CEMERLANG[@item].HR_TAHUN" class="form-control HR_ANUGERAH_CEMERLANG_HR_TAHUN" value="@Model.HR_ANUGERAH_CEMERLANG.ElementAt(item).HR_TAHUN" data-msg-required="Sila masukkan tahun anugerah" />
                                        </div>
                                    </td>
                                    <td align="center">
                                        <button class="btn btn-danger btn-remove-AnugerahCemerlang" name="remove-AnugerahCemerlang" type="button" disabled="disabled">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
        <br />
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-right">
                <button type="button" name="padamtxt" class="btn btn-warning padamtxt" disabled="disabled" title="Padam Text">
                    <i class="fa fa-file-text"></i><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <legend>
                Maklumat Anugerah Haji
                <span class="onoffswitch">
                    <input type="checkbox" name="sah[]" class="onoffswitch-checkbox" id="mAnugerah3-btn" value="off">

                    <label class="onoffswitch-label" for="mAnugerah3-btn">
                        <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
                <input type="hidden" id="Anugerah3" name="kemaskini" class="form-control" value="off">
            </legend>
            <div class="row smart-form" id="xmodal">

                <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Status</label>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <label class="select">
                                    @Html.HiddenFor(model => model.HR_ANUGERAH_HAJI.HR_NO_PEKERJA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    @Html.DropDownListFor(model => model.HR_ANUGERAH_HAJI.HR_STATUS_HAJI, new SelectList(ViewBag.HR_STATUS_HAJI, "Value", "Text"), String.Empty, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                    <i></i>
                                </label>
                            </div>

                        </section>

                        <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Pemergian</label>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <label class="input">
                                    <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="HR_ANUGERAH_HAJI.HR_TAHUN_PERGI" id="HR_ANUGERAH_HAJI_HR_TAHUN_PERGI" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.HR_ANUGERAH_HAJI.HR_TAHUN_PERGI)" disabled="disabled" />

                                </label>
                            </div>

                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Kelulusan YDP / SUP</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="inline-group">
                                    <label class="radio">
                                        @Html.RadioButtonFor(model => model.HR_ANUGERAH_HAJI.HR_LULUS_IND, "Y", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        <i></i>Lulus
                                    </label>
                                    <label class="radio">
                                        @Html.RadioButtonFor(model => model.HR_ANUGERAH_HAJI.HR_LULUS_IND, "T", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        <i></i>Tidak Lulus
                                    </label>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
                <br />
                <br />
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-12 col-md-12 col-sm-12 col-xs-12">Untuk Perhatian</label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 input-group">

                                <label class="input">
                                    @{
                                        List<HR_MAKLUMAT_PERIBADI> nP = ViewBag.HR_NP_PENCALON;
                                        var namaUP = nP.SingleOrDefault(s => s.HR_NO_PEKERJA == Model.HR_ANUGERAH_HAJI.HR_NP_UP);
                                        string namaUP2 = null;
                                        if (namaUP != null)
                                        {
                                            namaUP2 = namaUP.HR_NAMA_PEKERJA;
                                        }
                                    }
                                    @Html.TextBox("HR_ANUGERAH_HAJI.HR_NAMA_UP", namaUP2, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                </label>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm btn-pekerja3" id="btn-pekerja3" title="Cari Pekerja" disabled="disabled"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No. Pekerja</label>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <label class="input">
                                    @Html.EditorFor(model => model.HR_ANUGERAH_HAJI.HR_NP_UP, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                </label>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-12 col-md-12 col-sm-12 col-xs-12">Yang Dipertua MBPJ</label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 input-group">
                                <label class="input">
                                    @{

                                        var namaYDP = nP.SingleOrDefault(s => s.HR_NO_PEKERJA == Model.HR_ANUGERAH_HAJI.HR_NP_YDP);
                                        string namaYDP2 = null;
                                        if (namaYDP != null)
                                        {
                                            namaYDP2 = namaYDP.HR_NAMA_PEKERJA;
                                        }
                                    }
                                    @Html.TextBox("HR_ANUGERAH_HAJI.HR_NAMA_YDP", namaYDP2, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                </label>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm btn-pekerja4" id="btn-pekerja4" title="Cari Pekerja" disabled="disabled"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No. Pekerja</label>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                <label class="input">
                                    @Html.EditorFor(model => model.HR_ANUGERAH_HAJI.HR_NP_YDP, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", } })

                                </label>
                            </div>
                        </section>
                    </div>

                </div>


            </div>
        </fieldset>

    </div>
    <br />
    <br />
    <br />
    @*<div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="text-right">
                <label class="">Kemaskini : </label>
                <span class="onoffswitch">
                    <input type="checkbox" name="sah[]" class="onoffswitch-checkbox" id="mAnugerah-btn" value="off">

                    <label class="onoffswitch-label" for="mAnugerah-btn">
                        <span class="onoffswitch-inner" data-swchon-text="YES" data-swchoff-text="NO"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
                <input type="hidden" name="kemaskini" class="form-control" value="off">
            </div>
        </div>
    </div>*@
</div>

