

@model eSPP.Models.HR_SEMINAR_LUAR_DETAIL
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        </div>
    </div>
    @if (ViewBag.StatusMessage == "Permohonan Telah Berjaya Dihantar.")
    {
        <div class="row">
            <article class="col-sm-12">
                <div class="alert alert-success fade in">
                    <button class="close" data-dismiss="alert">
                        ×
                    </button>
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Berjaya</strong> @ViewBag.StatusMessage <strong>@ViewBag.emel</strong>
                </div>
            </article>
        </div>
    }
    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-sm-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>  Borang Permohonan</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @using (Html.BeginForm("InfoBorang", "PemohonanBaruLuar", new { key = ViewBag.key, value = ViewBag.value }, FormMethod.Post, new { id = "mKakitangan", enctype = "multipart/form-data", novalidate = "novalidate" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationBootstrap()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                @Html.HiddenFor(model => model.HR_NO_PEKERJA);

                         



                                <ul id="myTab1" class="nav nav-tabs bordered">
                                    <li class="active">
                                        <a href="#s1" data-toggle="tab"><b> BORANG A </b><span class="badge bg-color-blue txt-color-white"></span></a>
                                    </li>
                                    <li>
                                        <a href="#s2" data-toggle="tab"><i class=""></i><b>PERAKUAN</b> </a>
                                    </li>
                                    <li>
                                        <a href="#s3" data-toggle="tab"><i class=""></i> <b>BORANG B</b> </a>
                                    </li>

                                </ul>

                                <div id="myTabContent1" class="tab-content padding-10">

                                    <div class="tab-pane fade in active" id="s1">
                                        <fieldset>
                                            <div class="">
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Pemohon
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Pekerja</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_NAMA_PEKERJA", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>


                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No. Kad Pengenalan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_NO_KPBARU", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jawatan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_JAWATAN", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jabatan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_JABATAN", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Mulai <p><i>  (Sekiranya masih *Memangku/Tanggung Kerja)</i></p></label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_MANGKU_MULA" id="HR_TARIKH_MANGKU_MULA" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_MANGKU_MULA)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Hingga</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_MANGKU_AKHIR" id="HR_TARIKH_MANGKU_AKHIR" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_MANGKU_AKHIR)", disabled="disabled" />
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </fieldset>
                                                <br />
                                                <br />
                                                <br />
                                                <br />
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Perjalanan Ke Luar Negara
                                                    </legend>

                                                    <div class="row smart-form">
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Seminar</label>
                                                                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                                                        <label class="select">
                                                                            @Html.DropDownList("HR_KOD_LAWATAN",null, "Sila Pilih", new { @class = "form-control", disabled = "disabled" })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Seminar </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_NAMA_SEMINAR", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                     
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Tarikh Lawatan</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_MULA" id="HR_TARIKH_MULA" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_MULA)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Hingga</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_TAMAT" id="HR_TARIKH_TAMAT" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_TAMAT)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Negara yang dilawati</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_TEMPAT", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tujuan Lawatan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_TUJUAN", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Alamat semasa bercuti</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_ALAMAT_CUTI", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.Telefon</label>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_NO_TEL", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                                <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Email</label>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-list-alt"></i>
                                                                            @Html.Editor("HR_ALAMAT_EMEL", null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <br />
                                                <br />
                                                <br />
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Kelulusan Cuti Rehat (Sekiranya memerlukan kelulusan cuti rehat)
                                                    </legend>
                                                    <div class="row smart-form">
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Tarikh Mula Cuti</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_CUTI" id="HR_TARIKH_CUTI" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_CUTI)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Akhir Cuti</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_CUTI_AKH" id="HR_TARIKH_CUTI_AKH" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_CUTI_AKH)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Jumlah Hari Cuti</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_JUMLAH_CUTI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                        </label>
                                                                    </div>
                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh Kembali Bertugas</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_KEMBALI" id="HR_TARIKH_KEMBALI" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_KEMBALI)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </fieldset>
                                            </div>
                                        </fieldset>

                                        @*<footer>
                                                <div class="well text-right">
                                                    <button type="submit" name="Command" id="btn-edit" class="btn btn-success">
                                                        <i class="fa fa-save"> Simpan</i>
                                                    </button>
                                                    <button type="submit" name="Command" id="btn-edit" class="btn btn-primary">
                                                        <i class="fa fa-edit"> Seterusnya</i>
                                                    </button>
                                                </div>
                                            </footer>*@

                                    </div>


                                    <div class="tab-pane fade" id="s2">
                                        <fieldset>
                                            <div class="">
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Pecahan Perbelanjaan
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tiket Kapal Terbang</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-briefcase"></i>
                                                                            @Html.EditorFor(model => model.HR_TIKET_KAPAL, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Penginapan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_PENGINAPAN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Lain-Lain</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_LAIN, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jumlah</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_JUMLAH_BELANJA, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </fieldset>
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Perakuan Pemohon
                                                    </legend>
                                                    <div class="row smart-form">
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <h6>
                                                                        <b>
                                                                            Saya dengan ini mematuhi segala peraturan yang ditetapkan di <b> perenggan 6 dan perenggan 10 </b> Surat Pekeliling Am Bilangan 3 Tahun 2012.
                                                                        </b>
                                                                    </h6>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Tarikh </label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_PERMOHONAN" id="HR_TARIKH_PERMOHONAN" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_PERMOHONAN)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tandatangan</label>
                                                                    <div class="col col-8">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", rows = 20, @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </fieldset>
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Pegawai Penyokong (Ketua Jabatan/Bahagian/Unit)
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    Permohonan pegawai di atas <b> *disokong/tidak disokong: </b>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tandatangan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Cop Ketua Jabatan/ Bahagian/ Unit</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_SOKONG" id="HR_TARIKH_SOKONG" class="form-control" readonly='readonly'>
                                                                        </label>
                                                                    </div>

                                                                </section>


                                                            </div>
                                                        </div>

                                                    </div>

                                                </fieldset>
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Pegawai Pelulus (Datuk Bandar)
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    Permohonan pegawai di atas <b> *diluluskan/tidak diluluskan: </b>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tandatangan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Cop Rasmi Datuk Bandar</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tarikh</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_LULUS_MENTERI" id="HR_TARIKH_LULUS_MENTERI" class="form-control" readonly='readonly'>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </fieldset>
                                        @*<footer>
                                                <div class="well text-right">
                                                    <button type="submit" name="Command" id="btn-edit" class="btn btn-success">
                                                        <i class="fa fa-save"> Simpan</i>
                                                    </button>
                                                    <button type="submit" name="Command" id="btn-edit" class="btn btn-primary">
                                                        <i class="fa fa-edit" href="@Url.Action("TambahBorang", "s2")"> Seterusnya</i>
                                                    </button>
                                                </div>
                                            </footer>*@

                                    </div>
                                    <div class="tab-pane fade" id="s3">
                                        <fieldset>
                                            <div class="">
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Pemohon
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Pekerja</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.Editor("HR_NAMA_PEKERJA", (string)ViewBag.HR_NAMA_PEKERJA, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No. Kad Pengenalan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.Editor("HR_NO_KPBARU", (string)ViewBag.HR_NO_KPBARU, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jawatan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.Editor("HR_JAWATAN", null, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Jabatan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.Editor("HR_JABATAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Mulai <p><i>  (Sekiranya masih *Memangku/Tanggung Kerja)</i></p></label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_MANGKU_MULA" id="HR_TARIKH_MANGKU_MULA" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_MANGKU_MULA)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Hingga</label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_MANGKU_AKHIR" id="HR_TARIKH_MANGKU_AKHIR" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_MANGKU_AKHIR)" , disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Maklumat Pasangan/Keluarga/Saudara Pegawai Di Luar Negara
                                                    </legend>
                                                    <div class="row smart-form">

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Nama Pegawai</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_NAMA_PEGAWAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Hubungan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_HUBUNGAN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>

                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Alamat </label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_ALAMAT_PEGAWAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>

                                                                <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">No.Telefon</label>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_NOTEL_PEGAWAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                                <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Email</label>
                                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_EMAIL_PEGAWAI, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Alasan<p><i>  (Sekiranya pegawai sering berulang alik ke Negara jiran)</i></p></label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.EditorFor(model => model.HR_ALASAN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>

                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <legend>
                                                        Perakuan Pemohon
                                                    </legend>
                                                    <div class="row smart-form">
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <h6>
                                                                        <b>
                                                                            Saya dengan ini mengisytiharkan segala maklumat yang diberikan adalah benar. Sekiranya didapati maklumat ini tidak benar, saya boleh
                                                                            diambil tindakan mengikut peraturan sedia ada.
                                                                        </b>
                                                                    </h6>
                                                                </section>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <br />
                                                        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row">
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12"> Tarikh </label>
                                                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            <i class="icon-append fa fa-calendar"></i>
                                                                            <input type="text" name="HR_TARIKH_PERMOHONAN" id="HR_TARIKH_PERMOHONAN" class="form-control" value="@string.Format("{0:dd/MM/yyyy}",@ViewBag.HR_TARIKH_PERMOHONAN)", disabled="disabled" />
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                                <section class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                                    <label class="label col-lg-4 col-md-4 col-sm-12 col-xs-12">Tandatangan</label>
                                                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                                        <label class="input">
                                                                            @Html.TextArea("HR_TANDATANGAN", new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                                                                            <i></i>
                                                                        </label>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <footer>
                                    <div class="well text-right">
                                        <button type="button" class="btn btn-default" onclick="javascript: history.go(0)"><i class="" href="@Url.Action("CariPemohon","CariPemohon")"></i>Kembali</button>
                                       
                                    </div>
                                </footer>
                            }

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section pagespecific {

    <script type="text/javascript">

    $(document).ready(function () {

        var $orderForm = $("#mKakitangan").validate({
            // Rules for form validation
            rules: {
                HR_KOD_LAWATAN: {
                    required: true,

                }

            },

            // Messages for form validation
            messages: {
                HR_KOD_LAWATAN: {
                    required: 'Nama Seminar diperlukan'
                }

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });



        $("#HR_KOD_LAWATAN").on("change", function () {
            if ($(this).val() == "T01") {
                $("#HR_KOD_LAWATAN").attr("disabled", "disabled");
                $("#HR_KOD_LAWATAN").removeAttr("disabled");
                $("#HR_KOD_LAWATAN").val("");
                $("#HR_TARIKH_MULA").attr("disabled", "disabled");
                $("#HR_TARIKH_MULA").removeAttr("disabled");
                $("#HR_TARIKH_MULA").val("");
                $("#HR_TARIKH_TAMAT").attr("disabled", "disabled");
                $("#HR_TARIKH_TAMAT").removeAttr("disabled");
                $("#HR_TARIKH_TAMAT").val("");
                $("#HR_TEMPAT").attr("disabled", "disabled");
                $("#HR_TEMPAT").removeAttr("disabled");
                $("#HR_TEMPAT").val("");
                $("#HR_TUJUAN").attr("disabled", "disabled");
                $("#HR_TUJUAN").removeAttr("disabled");
                $("#HR_TUJUAN").val("");

            }
            else {
                $("HR_KOD_LAWATAN").val("");
                $("HR_TARIKH_MULA").val("");
                $("HR_TARIKH_TAMAT").val("");
                $("HR_TEMPAT").val("");
                $("HR_TUJUAN").val("");
                $("#HR_NAMA_SEMINAR").attr("disabled", "disabled");
                $("#HR_TARIKH_MULA").attr("disabled", "disabled");
                $("#HR_TARIKH_TAMAT").attr("disabled", "disabled");
                $("#HR_TEMPAT").attr("disabled", "disabled");
                $("#HR_TUJUAN").attr("disabled", "disabled");
                $("#HR_KOD_LAWATAN").removeAttr("disabled");
                $("#HR_TARIKH_MULA").removeAttr('readonly', 'readonly');
                $("#HR_TARIKH_TAMAT").removeAttr('readonly', 'readonly');
                $("#HR_TEMPAT").removeAttr('readonly', 'readonly');
                $("#HR_TUJUAN").removeAttr('readonly', 'readonly');

            }

            $.ajax({
                url: "../../PemohonanBaruLuar/CariLuar",
                data: { "id": $(this).val() },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                dataType: "json",
                success: function (data) {

                    debugger;
                    var HR_TARIKH_MULA = data.HR_TARIKH_MULA;
                    console.log(data.HR_KOD_LAWATAN)
                    var tarikh = new Date(parseInt(HR_TARIKH_MULA.substr(6)));
                    var HR_TARIKH_TAMAT = data.HR_TARIKH_TAMAT;
                    console.log(data.HR_KOD_LAWATAN)
                    var tarikhtamat = new Date(parseInt(HR_TARIKH_TAMAT.substr(6)));


                    $("#HR_TARIKH_MULA").val(tarikh.toLocaleDateString('en-GB'));
                    $("#HR_TARIKH_TAMAT").val(tarikhtamat.toLocaleDateString('en-GB'));
                    $("#HR_TEMPAT").val(data.HR_TEMPAT);
                    $("#HR_TUJUAN").val(data.HR_TUJUAN);
                }

            })
        })



        $('#HR_TARIKHMULA_MANGKU').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKHAKHIR_MANGKU').datepicker('option', 'minDate', selectedDate);


            }
        });


        $('#HR_TARIKHAKHIR_MANGKU').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKHMULA_MANGKU').datepicker('option', 'maxDate', selectedDate);


            }
        });


        $('#HR_TARIKH_MULA').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_TAMAT').datepicker('option', 'minDate', selectedDate);


            }
        });


        $('#HR_TARIKH_TAMAT').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_MULA').datepicker('option', 'maxDate', selectedDate);


            }
        });

        $('#HR_TARIKH_CUTI').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_CUTI_AKH').datepicker('option', 'minDate', selectedDate);


            }
        });


        $('#HR_TARIKH_CUTI_AKH').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_CUTI').datepicker('option', 'maxDate', selectedDate);


            }
        });


        $('#HR_TARIKH_KEMBALI').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_CUTI_AKH').datepicker('option', 'maxDate', selectedDate);


            }
        });


        $('#HR_TARIKH_PERMOHONAN').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                //$('#HR_TARIKH_CUTI_AKH').datepicker('option', 'maxDate', selectedDate);


            }
        });


        $('#HR_TARIKH_SOKONG').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_LULUS_MENTERI').datepicker('option', 'minDate', selectedDate);


            }
        });


        $('#HR_TARIKH_LULUS_MENTERI').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            onSelect: function (selectedDate) {
                $('#HR_TARIKH_SOKONG').datepicker('option', 'maxDate', selectedDate);


            }
        });

        //$(function () {
        //    window.invalidate_input1 = function () {
        //        $('input[name=HR_NO_PEKERJA]').change(function () {
        //            $('#Hantar').attr("disabled", "disabled");
        //            $('#HR_TARIKHMULA_MANGKU').val('');
        //            $('#HR_TARIKH_MANGKU_AKHIR').val('');
        //            $("#HR_KOD_LAWATAN").val('')
        //            $("#HR_NAMA_SEMINAR").val('')
        //            $("#HR_TARIKH_MULA").val('')
        //            $("#HR_TARIKH_TAMAT").val('')
        //            $("#HR_TEMPAT").val('')
        //            $("#HR_TUJUAN").val('')
        //            $("#HR_ALAMAT_CUTI").val('')
        //            $("#HR_NOTEL").val('')
        //            $("#Email").val('')
        //            $("#HR_TARIKH_CUTI").val('')
        //            $("#HR_TARIKH_CUTI_AKH").val('')
        //            $("#HR_JUMLAH_CUTI").val('')
        //            $("#HR_TARIKH_KEMBALI").val('')

        //        }
		//	)};

        //    $("input[name=HR_NO_PEKERJA]").change(invalidate_input1);

        //    invalidate_input1();
        //});


        var $orderForm = $("#order-form").validate({
            // Rules for form validation
            rules: {
                HR_PENERANGAN: {
                    required: true,
                    remote: {
                        url: "Alasan/CariAlasan",
                        type: "get",
                        data: {
                            penerangan: function () {
                                return $("#HR_PENERANGAN").val();
                            },
                            kod: function () {
                                return $("#HR_KOD_ALASAN").val();
                            }
                        }
                    }
                },
                HR_SISTEM_IND: {
                    required: true

                },

            },

            // Messages for form validation
            messages: {
                HR_PENERANGAN: {
                    required: 'Penerangan diperlukan'
                },
                HR_SISTEM_IND: {
                    required: 'Pilihan Sistem diperlukan'
                },

            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });

    })
    </script>
}