@model IEnumerable<eSPP.Models.HR_MAKLUMAT_KEWANGAN8>

<fieldset>
    <legend>
        Senarai Kewangan 8
    </legend>
    @using (Html.BeginForm("SlipKewangan8", "Kewangan8", FormMethod.Post, new { id = "form-slip", target = "_blank" }))
    {
        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tarikh Masuk</th>
                    <th data-class="expand" width="30%">Butir Perubahan</th>
                    <th data-hide="phone,tablet">Catatan</th>
                    <th data-hide="phone,tablet">Tarikh Mula</th>
                    @if (ViewBag.kod == "kew8" || ViewBag.kod == "00026" || ViewBag.kod == "00022" || ViewBag.kod == "CUTI" || ViewBag.kod == "00015")
                    {
                        <th data-hide="phone,tablet">Tarikh Akhir</th>
                    }
                    <th data-hide="phone,tablet">Tarikh Muktamad</th>
                    <th data-hide="phone">Muktamad</th>
                    <th data-hide="phone,tablet">Kew8 ID</th>
                    <th data-hide="phone,tablet">Pilih</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    var no = 0;
                    List<HR_MAKLUMAT_KEWANGAN8> ansuran = ViewBag.Ansuran;
                }
                @foreach (HR_MAKLUMAT_KEWANGAN8 item in Model)
                {
                    List<HR_MAKLUMAT_KEWANGAN8> senraiAnsuran = ansuran.Where(s => s.HR_NO_PEKERJA == item.HR_NO_PEKERJA && s.HR_KOD_PERUBAHAN == item.HR_KOD_PERUBAHAN && s.HR_ANSURAN_ID == item.HR_ANSURAN_ID).OrderBy(s => s.HR_TARIKH_AKHIR).ToList();
                    var CountAnsuran = senraiAnsuran.Count();
                    var txtAnsuran = "";

                    if (ViewBag.kod == "CUTI" && item.HR_KOD_PERUBAHAN == "00017")
                    {
                        item.HR_TARIKH_MULA = senraiAnsuran.FirstOrDefault().HR_TARIKH_MULA;
                        item.HR_TARIKH_AKHIR = senraiAnsuran.LastOrDefault().HR_TARIKH_AKHIR;
                    }

                    if(CountAnsuran > 1 && ViewBag.kod != "CUTI")
                    {
                        txtAnsuran = "- " + CountAnsuran + " Kali Ansuran";
                    }

                    var ind = "Tidak";
                    var color = "label-danger";

                    ++no;
                    <tr>
                        <td align="center">@no</td>
                        <td>
                            @if (ViewBag.kod == "00001")
                            {
                                string.Format("{0:dd/MM/yyyy}", item.HR_TARIKH_KEYIN);
                            }
                            else
                            {
                                <a class="Info" id="Info" href="javascript:void(0)" data-id="@item.HR_KEW8_ID" data-kodperubahan="@item.HR_KOD_PERUBAHAN" data-tarikh="@item.HR_TARIKH_MULA" data-kodpelarasan="" title="Info">@string.Format("{0:dd/MM/yyyy}", item.HR_TARIKH_KEYIN)</a>
                            }
                        </td>
                        <td>@Html.DisplayFor(model => item.HR_BUTIR_PERUBAHAN)</td>
                        <td>@Html.DisplayFor(model => item.HR_CATATAN)</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", item.HR_TARIKH_MULA)</td>
                        @if (ViewBag.kod == "kew8" || ViewBag.kod == "00026" || ViewBag.kod == "00022" || ViewBag.kod == "CUTI" || ViewBag.kod == "00015")
                        {
                            <td>@string.Format("{0:dd/MM/yyyy}", item.HR_TARIKH_AKHIR)</td>
                        }
                        <td>@string.Format("{0:dd/MM/yyyy}", item.HR_TARIKH_FINALISED_HR)</td>
                        <td>
                            @if (item.HR_FINALISED_IND_HR == "Y")
                            {
                                ind = "Ya";
                                color = "label-success";
                            }
                            else if (item.HR_FINALISED_IND_HR == "P")
                            {
                                ind = "Dalam Proses";
                                color = "label-warning";
                            }
                            <span class="center-block padding-5 label @color">
                                @ind
                            </span>

                        </td>
                        <td>@Html.DisplayFor(model => item.HR_KEW8_ID) @txtAnsuran</td>
                        <td>
                            @if (ViewBag.kod != "00001")
                            {
                                if (item.HR_FINALISED_IND_HR == "Y" || ViewBag.kod == "TP" && ViewBag.HR_NO_PEKERJA == ViewBag.pengesahan)
                                {
                                    <a class="btn btn-default btn-xs" title="Kemaskini" disabled="disabled"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-default btn-xs" title="Padam" disabled="disabled"><i class="fa fa-trash-o"></i></a>

                                }
                                else
                                {
                                    <a class="btn btn-default btn-xs Edit" id="Edit" href="javascript:void(0)" data-id="@item.HR_KEW8_ID" data-kodperubahan="@item.HR_KOD_PERUBAHAN" data-tarikh="@item.HR_TARIKH_MULA" data-kodpelarasan="" title="Kemaskini"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-default btn-xs Padam" id="Padam" href="javascript:void(0)" data-id="@item.HR_KEW8_ID" data-kodperubahan="@item.HR_KOD_PERUBAHAN" data-tarikh="@item.HR_TARIKH_MULA" data-kodpelarasan="" title="Padam"><i class="fa fa-trash-o"></i></a>
                                }
                            }
                            <a class="btn btn-default btn-xs print" id="print" target="_blank" href="@Url.Action("SlipKewangan8", new { HR_NO_PEKERJA = ViewBag.HR_NO_PEKERJA, HR_KEW8_ID = item.HR_KEW8_ID, HR_KOD_PERUBAHAN = item.HR_KOD_PERUBAHAN, HR_TARIKH_MULA = item.HR_TARIKH_MULA, Kod = ViewBag.Kod })" title="Cetak"><i class="fa fa-print"></i></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

    @*<table id="datatable_tabletools2" class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>

                <th>Tarikh Keyin</th>
                <th data-class="expand" width="30%">Butir Perubahan</th>
                <th data-hide="phone,tablet">Catatan</th>
                <th>Tarikh Mula</th>
                <th>Tarikh Akhir</th>

            </tr>
        </thead>

    </table>*@


    
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='ModalContent'></div>
            </div>
        </div>
    </div>
    @Html.Partial("../MaklumatKakitangan/ModalPekerja")
    <!-- End Modal -->
</fieldset>

<script type="text/javascript">
    $(document).ready(function () {

        /* // DOM Position key index //

        l - Length changing (dropdown)
        f - Filtering input (search)
        t - The Table! (datatable)
        i - Information (records)
        p - Pagination (paging)
        r - pRocessing
        < and > - div elements
        <"#id" and > - div with an id
        <"class" and > - div with a class
        <"#id.class" and > - div with an id and class

        Also see: http://legacy.datatables.net/usage/features
        */

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;
        var responsiveHelper_datatable_tabletools2 = undefined;
        var responsiveHelper_datatable_CariPekerja = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        //var keyInDate = $('#HR_TARIKH_KEYIN').datepicker("getDate");
        //var keyInDate2 = new Date(keyInDate.getFullYear(), keyInDate.getMonth(), 1)
        //var keyInDate3 = keyInDate2.getDate() + "/" + (keyInDate2.getMonth() + 1) + "/" + keyInDate2.getFullYear();

        $('#dt_basic').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                "t" +
                "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_dt_basic.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });

        /* END BASIC */

        /* COLUMN FILTER  */
        var otable = $('#datatable_fixed_column').DataTable({
            //"bFilter": false,
            //"bInfo": false,
            //"bLengthChange": false
            //"bAutoWidth": false,
            //"bPaginate": false,
            //"bStateSave": true // saves sort state using localStorage
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_fixed_column) {
                    responsiveHelper_datatable_fixed_column = new ResponsiveDatatablesHelper($('#datatable_fixed_column'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_fixed_column.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_fixed_column.respond();
            }

        });

        // custom toolbar
        $("div.toolbar").html('<div class="text-right"><img src="/Content/img/logo.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;"></div>');

        // Apply the filter
        $("#datatable_fixed_column thead th input[type=text]").on('keyup change', function () {

            otable
                .column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();

        });
        /* END COLUMN FILTER */

        /* COLUMN SHOW - HIDE */
        $('#datatable_col_reorder').dataTable({
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_col_reorder) {
                    responsiveHelper_datatable_col_reorder = new ResponsiveDatatablesHelper($('#datatable_col_reorder'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_col_reorder.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_col_reorder.respond();
            }
        });

        /* END COLUMN SHOW - HIDE */

        /* TABLETOOLS */

        function Cari(nilai) {
            var CariPekerja = $('#datatable_CariPekerja').DataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'><'col-sm-6 col-xs-6 hidden-xs'l>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                "language": {
                    "zeroRecords": "Tiada data dijumpai",
                    "info": "Memaparkan <span class='txt-color-darken'>_START_</span> hingga <span class='txt-color-darken'>_END_</span> daripada <span class='text-primary'>_TOTAL_</span> rekod",
                    "infoEmpty": "Tiada data",
                    "infoFiltered": "(ditapis daripada <span class='text-primary'>_MAX_</span> jumlah rekod)"
                },
                "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "Semua"]],
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center smart-form',
                    'render': function (data, type, full, meta) {
                        var html = '<label class="radio"><input type="radio" name="HR_NO_PEKERJA" value="' + data + '" class="HR_NO_PEKERJA"><i></i></label>';
                        return html;
                    }
                }],
                'order': [[1, 'asc']],
                "searching": false,
                "autoWidth": true,
                'retrieve': true,
                "ajax": {
                    "destroy": true,
                    "url": "../MaklumatKakitangan/SenaraiPekerja",
                    "data": { "nilai": nilai },
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                { "data": "HR_NO_PEKERJA" },
                { "data": "HR_NO_PEKERJA" },
                { "data": "HR_NO_KPBARU" },
                { "data": "HR_NAMA_PEKERJA" }

                ],
                //"preDrawCallback": function () {
                //    // Initialize the responsive datatables helper once.
                //    if (!responsiveHelper_datatable_CariPekerja) {
                //        responsiveHelper_datatable_CariPekerja = new ResponsiveDatatablesHelper($('#datatable_CariPekerja'), breakpointDefinition);
                //    }
                //},
                //"rowCallback": function (nRow) {
                //    responsiveHelper_datatable_CariPekerja.createExpandIcon(nRow);
                //},
                //"drawCallback": function (oSettings) {
                //    responsiveHelper_datatable_CariPekerja.respond();
                //}
            });

            return CariPekerja;
        }
        Cari($("#nilai").val())

        $("#CariPenyelia2").on("click", function () {
            $('#datatable_CariPekerja').DataTable().destroy();
            Cari($("#nilai").val()).draw()
        })

        //function ajaxKodMatriks(HR_GRED, HR_GAJI_POKOK) {
        //    var output = null;
        //    $.ajax({
        //        url: "../Kewangan8/KodMatriks",
        //        type: "GET",
        //        data: { HR_GRED: HR_GRED, HR_GAJI_POKOK: HR_GAJI_POKOK },
        //        dataType: "Json",
        //        contentType: "application/json; charset=utf-8",
        //        async: false,
        //        success: function (data) {
        //            var tahap = parseFloat(data.HR_TAHAP);
        //            output = "P" + data.HR_PERINGKAT + "T" + tahap.toFixed(2);
        //            $("#HR_GAJI_MAX_BARU").val(data.HR_GAJI_MAX.toFixed(2));
        //            $("#HR_GAJI_MIN_BARU").val(data.HR_GAJI_MIN.toFixed(2));
        //        }
        //    });
        //    return output;
        //}

        function ajaxGajiMin(HR_GRED) {
            $("#list-min").html('<option></option>');
            var output = new Array();
            $.ajax({
                url: "../Kewangan8/GajiMin",
                type: "GET",
                data: { "HR_GRED": HR_GRED },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (data) {
                    output = data;
                    $.each(data, function (i, v) {
                        $("#list-min").append($("<option></option>").val(v.HR_GAJI_MIN.toFixed(2)))
                        //if (data.length == 1) {
                        //    $("#HR_GAJI_MIN_BARU").val(v.HR_GAJI_MIN.toFixed(2));
                        //    ajaxGajiMax(v.HR_GAJI_MIN, HR_GRED);
                        //}
                    })
                }
            });

            return output;
        }

        @*function ajaxGajiMax(HR_GAJI_MIN, HR_GRED) {
            $("#list-max").html('<option></option>');
            var output = new Array();
            $.ajax({
                url: "../Kewangan8/GajiMax",
                type: "GET",
                data: { HR_GAJI_MIN: HR_GAJI_MIN, HR_GRED: HR_GRED },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (data) {
                    output = data;
                    $.each(data, function (i, v) {
                        $("#list-max").append($("<option></option>").val(v.HR_GAJI_MAX.toFixed(2)))
                        if (data.length == 1) {
                            $("#HR_GAJI_MAX_BARU").val(v.HR_GAJI_MAX.toFixed(2));
                            ajaxGajiPokok(HR_GRED, HR_GAJI_MIN, v.HR_GAJI_MAX)
                        }
                    })
                }
            });

            return output;
        }

        function ajaxGajiPokok(HR_GRED, HR_GAJI_MIN, HR_GAJI_MAX) {
            $("#list-gaji").html('<option></option>');
            var p = "GajiPokok";
            if ('@ViewBag.Kod' == "TMK" || '@ViewBag.Kod' == "00032" || '@ViewBag.Kod' == "00004") {
                p = "GajiPokok2";
            }
            var output = new Array();
            $.ajax({
                url: "../Kewangan8/" + p,
                type: "GET",
                data: { HR_GRED: HR_GRED, HR_GAJI_MIN: HR_GAJI_MIN, HR_GAJI_MAX: HR_GAJI_MAX },
                dataType: "Json",
                async: false,
                success: function (data) {
                    output = data;
                    if (p == "GajiPokok") {
                        $.each(data, function (i, v) {
                            $("#list-gaji").append($("<option>P" + v.HR_PERINGKAT + "T" + (v.HR_TAHAP).toFixed(2) + "</option>").val(v.HR_GAJI_POKOK.toFixed(2)))
                        })
                    }
                    else {
                        var tahap = parseFloat(data.HR_TAHAP);
                        $("#HR_GAJI_BARU").val(data.HR_GAJI_POKOK);
                        $("#HR_MATRIKS_GAJI").val("P" + data.HR_PERINGKAT + "T" + tahap.toFixed(2));
                        //$("#HR_PGT_BARU").val(data.HR_RM_KENAIKAN);
                    }

                }
            })

            return output;
        }

        function ajaxHasilNilai(startDate, endDate, gaji, kod) {
            $('#HR_JUMLAH_PERUBAHAN_ELAUN').val((0).toFixed(2));
            var nilai = 0;
            if (kod == "TMK" || kod == "00032") {
                gaji = gaji * 0.25;
            }
            $('#HR_JUMLAH_PERUBAHAN_ELAUN').val(gaji.toFixed(2));
            ajaxHasilAkhirNilai(startDate, endDate, gaji, kod, "E");
        }

        function ajaxHasilAkhirNilai(startDate, endDate, gaji, kod, jenis) {
            $('#HR_JUMLAH_PERUBAHAN').val((0).toFixed(2));
            $('#HR_JUMLAH_POTONGAN_GAJI').val((0).toFixed(2));

            var nilai = 0;

            if (kod == "LNTKN") {
                nilai = ajaxKiraPelarasan(startDate, endDate, keyInDate3, gaji.toFixed(2), kod, jenis)
                $('#HR_JUMLAH_POTONGAN_GAJI').val(nilai.toFixed(2));
            }
            else if (kod == "00017") {
                nilai = ajaxKiraPelarasan(startDate, endDate, endDate, gaji.toFixed(2), kod, jenis);
                $('#HR_JUMLAH_POTONGAN_GAJI').val(nilai.toFixed(2));

            }
            else {
                nilai = ajaxKiraPelarasan(startDate, endDate, keyInDate3, gaji.toFixed(2), kod, jenis)
                $('#HR_JUMLAH_PERUBAHAN').val(nilai.toFixed(2));
            }

            return nilai;
        }

        function ajaxKiraPelarasan(startDate, endDate, keyInDate, gaji, kod, jenis) {
            var nilai = 0;
            $.ajax({
                url: "../Kewangan8/KiraPelarasan",
                type: "GET",
                data: { startDate: startDate, endDate: endDate, keyInDate: keyInDate, gaji: gaji, kod: kod, jenis: jenis },
                dataType: "Json",
                async: false,
                success: function (data) {
                    nilai = data;
                }
            });
            return nilai;
        }*@

        $(document).on("click", "#HR_NAMA_PT", function () {
            var $this = $(this)
            $("#ModalPekerja").modal({
                show: true,
                backdrop: 'static'
            }).on("click", "#btn-done", function () {
                //$('#datatable_CariCalon').DataTable().destroy();
                Cari("").draw().$("input[type='radio']").each(function () {
                    if (this.checked) {
                        var VIEW = $(this).parents("tr");
                        var HR_NAMA_PEKERJA = VIEW.find("td:eq(3)").text()
                        var HR_NO_PEKERJA = this.value

                        $this.val(HR_NAMA_PEKERJA);
                        if ($this.attr("id") == "HR_NAMA_PT") {
                            $("#HR_NO_PEKERJA_PT").val(HR_NO_PEKERJA);
                            $.get("../Kewangan8/CariJawatanPekerja", { id: HR_NO_PEKERJA }, function (data) {
                                $("#HR_JAWATAN_BARU").val(data.kod)
                                $("#HR_GRED").val(data.gred)
                                $("#HR_GAJI_MIN_BARU").val("");
                                $("#HR_GAJI_MAX_BARU").val("");
                                $("#HR_GAJI_BARU").val("");
                                //$("#HR_PGT_BARU").val("");

                                $("#HR_JUMLAH_PERUBAHAN_ELAUN").val((0).toFixed(2));
                                $("#HR_JUMLAH_PERUBAHAN").val((0).toFixed(2));

                                ajaxGajiMin($("#HR_GRED").val());
                                //ajaxGajiPokok($("#HR_GRED").val(), null, null)

                                $("#HR_MATRIKS_GAJI").val("");
                                if ($(this).attr("id") != "HR_GAJI_BARU") {
                                    $("#HR_GAJI_BARU").val("");
                                    //$("#HR_PGT_BARU").val("");
                                    $("#list-gaji").html('<option></option>');

                                    //var MIN = null;
                                    //var MAX = null;

                                    //if ($("#HR_GAJI_MIN_BARU").val() != "") {
                                    //    MIN = $("#HR_GAJI_MIN_BARU").val()
                                    //}

                                    //if ($("#HR_GAJI_MAX_BARU").val() != "") {
                                    //    MAX = $("#HR_GAJI_MAX_BARU").val();
                                    //}

                                    //if ($("#HR_GRED").val() != "") {
                                    //    ajaxGajiPokok($("#HR_GRED").val(), MIN, MAX)
                                    //}
                                }

                                @*if ($("#HR_GRED").val() != "" && $("#HR_GAJI_BARU").val() != "" && '@ViewBag.Kod' == "00036") {
                                    var matriks6 = ajaxKodMatriks($("#HR_GRED").val(), $("#HR_GAJI_BARU").val())
                                    $("#HR_MATRIKS_GAJI").val(matriks6)
                                }

                                if ('@ViewBag.Kod' == "TMK" || '@ViewBag.Kod' == "00032" || '@ViewBag.Kod' == "00004") {
                                    var startDate = $('#HR_TARIKH_MULA').val();
                                    var endDate = $('#HR_TARIKH_AKHIR').val();
                                    var gaji = parseFloat($("#HR_GAJI_MIN_BARU").val());

                                    if ($("#HR_TARIKH_MULA").val() != "" && $("#HR_TARIKH_AKHIR").val() != "" && $("#HR_GRED").val() != "" && $("#HR_GAJI_MIN_BARU").val() != "") {
                                        if ($("#HR_KOD_PERUBAHAN").val() == "00032") {
                                            //var data = ajaxGajiMin($("#HR_GRED").val());
                                            ajaxHasilNilai(startDate, endDate, gaji, '@ViewBag.Kod')
                                        }
                                        else {
                                            ajaxHasilNilaiMemangku(startDate, endDate, $("#HR_GAJI_LAMA").val(), gaji)
                                        }
                                    }
                                }*@
                            })
                        }
                        
                        $("#ModalPekerja").modal("hide")
                    }
                })
            });
        })

        $('#datatable_tabletools').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'l<'btn-print'>>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            /*"oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },*/
            "autoWidth": true,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools) {
                    responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_tabletools.respond();
            }
        });
        if ('@ViewBag.kod' != "00001")
        {
            if (('@ViewBag.HR_AKTIF_IND' == "Y" && ('@ViewBag.HR_GAJI_IND' == "Y" || '@ViewBag.kod' == "00026")) || '@ViewBag.kod' == "TP" || '@ViewBag.kod' != "00031")
            {
                if ('@ViewBag.kod' == "TP" && '@ViewBag.HR_NO_PEKERJA' == '@ViewBag.pengesahan') {
                    $("div.btn-print").html('<div class="text-right">' +
                    '<button type = "button" name = "Tambah" id = "Error2" class = "btn btn-default btn-success" title = "Tambah"><i class = "fa fa-plus"></i></button>' +
                    '</div>');
                }
                else {
                    $("div.btn-print").html('<div class="text-right">' +
                    '<button type = "button" name = "Tambah" id = "Tambah" class = "btn btn-default btn-success" title = "Tambah"><i class = "fa fa-plus"></i></button>' +
                    '</div>');
                }
            }
            else {
                $("div.btn-print").html('<div class="text-right">' +
                '<button type = "button" name = "Tambah" id = "Error" class = "btn btn-default btn-success" title = "Tambah"><i class = "fa fa-plus"></i></button>' +
                '</div>');
            }
        }

        $("#Error").on("click", function () {
            if ('@ViewBag.HR_AKTIF_IND' != "Y") {
                alert("Maaf! pekerja tidak aktif. Sila aktifkan pekerja terlebih dahulu untuk membuat sebarang kewangan 8")
            }
            else if ('@ViewBag.HR_GAJI_IND' == "T") {
                alert("Maaf! gaji pekerja tidak aktif. Sila aktifkan gaji pekerja terlebih dahulu untuk membuat sebarang kewangan 8")
            }
            else if ('@ViewBag.HR_GAJI_IND' == "N") {
                alert("Maaf! pekerja telah ditahan gaji, Sila buat bayaran gaji semula terlebih dahulu untuk membuat sebarang kewangan 8")
            }
            else if ('@ViewBag.HR_TANGGUH_GERAKGAJI_IND' != "Y") {
                alert("Maaf! pekerja tidak membuat tangguh pergerakan gaji. Sila buat tangguh pergerakan gaji terlebih dahulu")
            }
            else if ('@ViewBag.kod' == "TP" && '@ViewBag.HR_NO_PEKERJA' == '@ViewBag.pengesahan') {
                alert("Maaf! Anda tidak boleh tamatkan perkhidmatan anda sendiri")
            }
        })

        $("#Error2").on("click", function () {
            if ('@ViewBag.kod' == "TP" && '@ViewBag.HR_NO_PEKERJA' == '@ViewBag.pengesahan') {
                alert("Maaf! Anda tidak boleh tamatkan perkhidmatan anda sendiri")
            }
        })

        /* END TABLETOOLS */

        $('#datatable_tabletools2').dataTable({

            // Tabletools options:
            //   https://datatables.net/extensions/tabletools/button_options
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-6 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            /*"oTableTools": {
                "aButtons": [
                "copy",
                "csv",
                "xls",
                   {
                       "sExtends": "pdf",
                       "sTitle": "SmartAdmin_PDF",
                       "sPdfMessage": "SmartAdmin PDF Export",
                       "sPdfSize": "letter"
                   },
                   {
                       "sExtends": "print",
                       "sMessage": "Generated by SmartAdmin <i>(press Esc to close)</i>"
                   }
                ],
                "sSwfPath": "/Scripts/plugin/datatables/swf/copy_csv_xls_pdf.swf"
            },*/
            @*"ajax": {
                "url": "../Kewangan8/DataKewangan8?value=@(ViewBag.HR_NO_PEKERJA)&kod=@(ViewBag.kod)",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
            {
                "data": function (row, type, set) {
                    if (type === 'display') {
                        return moment(row.HR_TARIKH_KEYIN).format('DD/MM/YYYY');
                    }
                }
            },
            { "data": "HR_BUTIR_PERUBAHAN" },
            { "data": "HR_CATATAN", "defaultContent": "" },
            {
                "data": function (row, type, set) {
                    if (type === 'display') {
                        return moment(row.HR_TARIKH_MULA).format('DD/MM/YYYY');
                    }
                }
            },
            {
                "data": function (row, type, set) {
                    if (type === 'display') {
                        return moment(row.HR_TARIKH_AKHIR).format('DD/MM/YYYY');
                    }
                }
            }
            ],*@
            "autoWidth": false,
            "preDrawCallback": function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_datatable_tabletools2) {
                    responsiveHelper_datatable_tabletools2 = new ResponsiveDatatablesHelper($('#datatable_tabletools2'), breakpointDefinition);
                }
            },
            "rowCallback": function (nRow) {
                responsiveHelper_datatable_tabletools2.createExpandIcon(nRow);
            },
            "drawCallback": function (oSettings) {
                responsiveHelper_datatable_tabletools2.respond();
            }

        });

    });

    //modal
    var Tambah = '../Kewangan8/TambahKew8';
    $(function () {
        $("#Tambah").on("click", function () {
            //var $buttonClicked = $(this);
            //var HR_NO_PEKERJA = $buttonClicked.attr('data-id');
            waitMsg()
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: Tambah,
                contentType: "application/json; charset=utf-8",
                data: { "HR_NO_PEKERJA": '@ViewBag.HR_NO_PEKERJA', "HR_KOD_PERUBAHAN": '@ViewBag.kod', "Kod": '@ViewBag.kod' },
                datatype: "json",
                success: function (data) {
                    $('#ModalContent').html(data);
                    $('#Modal').modal(options);
                    $('#Modal').modal('show');
                    $("#waitMsg").dialog("close");
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

        });
    });
    var Info = '../Kewangan8/InfoKew8';
    $(function () {
        $("#datatable_tabletools").on("click", "#Info", function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var HR_KOD_PERUBAHAN = $buttonClicked.attr('data-kodperubahan');
            var HR_TARIKH_MULA = $buttonClicked.attr('data-tarikh');
            var HR_KOD_PELARASAN = $buttonClicked.attr('data-kodpelarasan');
            var options = { "backdrop": "static", keyboard: true };
            waitMsg()
            $.ajax({
                type: "GET",
                url: Info,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "HR_NO_PEKERJA": '@ViewBag.HR_NO_PEKERJA', "HR_KOD_PERUBAHAN": HR_KOD_PERUBAHAN, "HR_TARIKH_MULA": HR_TARIKH_MULA, "HR_KOD_PELARASAN": HR_KOD_PELARASAN, "Kod": '@ViewBag.kod' },
                datatype: "json",
                success: function (data) {
                    $('#ModalContent').html(data);
                    $('#Modal').modal(options);
                    //$('#Modal').modal('show');
                    $("#Modal").modal({
                        show: true,
                        backdrop: 'static'
                    });
                    $("#waitMsg").dialog("close");
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });
    var Edit = '../Kewangan8/EditKew8';
    $(function () {
        $("#datatable_tabletools").on("click", "#Edit", function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var HR_KOD_PERUBAHAN = $buttonClicked.attr('data-kodperubahan');
            var HR_TARIKH_MULA = $buttonClicked.attr('data-tarikh');
            var HR_KOD_PELARASAN = $buttonClicked.attr('data-kodpelarasan');
            var options = { "backdrop": "static", keyboard: true };
            waitMsg()
            $.ajax({
                type: "GET",
                url: Edit,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "HR_NO_PEKERJA": '@ViewBag.HR_NO_PEKERJA', "HR_KOD_PERUBAHAN": HR_KOD_PERUBAHAN, "HR_TARIKH_MULA": HR_TARIKH_MULA, "HR_KOD_PELARASAN": HR_KOD_PELARASAN, "Kod": '@ViewBag.kod' },
                datatype: "json",
                success: function (data) {
                    $('#ModalContent').html(data);
                    $('#Modal').modal(options);
                    //$('#Modal').modal('show');
                    $("#Modal").modal({
                        show: true,
                        backdrop: 'static'
                    });
                    $("#waitMsg").dialog("close");
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });
    var Padam = '../Kewangan8/PadamKew8';
    $(function () {
        $("#datatable_tabletools").on("click", "#Padam", function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var HR_KOD_PERUBAHAN = $buttonClicked.attr('data-kodperubahan');
            var HR_TARIKH_MULA = $buttonClicked.attr('data-tarikh');
            var HR_KOD_PELARASAN = $buttonClicked.attr('data-kodpelarasan');
            var options = { "backdrop": "static", keyboard: true };
            waitMsg()
            $.ajax({
                type: "GET",
                url: Padam,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id, "HR_NO_PEKERJA": '@ViewBag.HR_NO_PEKERJA', "HR_KOD_PERUBAHAN": HR_KOD_PERUBAHAN, "HR_TARIKH_MULA": HR_TARIKH_MULA, "HR_KOD_PELARASAN": HR_KOD_PELARASAN, "Kod": '@ViewBag.kod' },
                datatype: "json",
                success: function (data) {
                    $('#ModalContent').html(data);
                    $('#Modal').modal(options);
                    //$('#Modal').modal('show');
                    $("#Modal").modal({
                        show: true,
                        backdrop: 'static'
                    });
                    $("#waitMsg").dialog("close");
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        //var myBackup = $('#Modal').clone();

        //$(document).on('click', '#myReset', function () {
        //    $('#Modal').remove();
        //    var myClone = myBackup.clone();
        //    $('body').append(myClone);
        //});

        //$("#Modal").off('hidden.bs.modal');
        //$("#Modal").on('hidden.bs.modal', function () {
        //    $("#Modal").removeAttr("style");
        //    $("#ModalContent").html("");
        //    $(this).data('bs.modal', null);
        //    $(this).data('modal', null);
        //    $(this).removeData()
        //    $(this).data('bs.modal', null).remove();
        //    var myClone = myBackup.clone();
        //    $('body').append(myClone);
        //});
    });

    function waitMsg() {
        $("#waitMsg").html("<div class='text-center'><div><span id='img'><img class='rounded mx-auto d-block center' src='../Content/img/ajax-loader.gif' alt='loading' id='img-load' /></span></div><div>Sila tunggu sebentar</div></div>");
        $("#waitMsg").dialog({
            open: function (event, ui) {   // It'll hide Close button
                $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
            },
            closeOnEscape: false,        // Do not close dialog on press Esc button
            modal: false,
            title: 'Mesej'
        });
    }

    @*$(function () {
        $("#datatable_tabletools").on("click", "#print", function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var HR_KOD_PERUBAHAN = $buttonClicked.attr('data-kodperubahan');
            var HR_TARIKH_MULA = $buttonClicked.attr('data-tarikh');
            var HR_KOD_PELARASAN = $buttonClicked.attr('data-kodpelarasan');

            $("#form-slip").attr("action", "SlipKewangan8?HR_NO_PEKERJA=@(ViewBag.HR_NO_PEKERJA)&HR_KEW8_ID=" + id + "&HR_KOD_PERUBAHAN=" + HR_KOD_PERUBAHAN + "&HR_TARIKH_MULA=" + HR_TARIKH_MULA + "&HR_KOD_PELARASAN=" + HR_KOD_PELARASAN + "&Kod=" + '@ViewBag.kod').submit();
        });
    });*@
    //end modal

    @*setInterval(function () {
        $.post("../Kewangan8/AutoAktif", { HR_NO_PEKERJA: '@ViewBag.HR_NO_PEKERJA' });
    }, 30000);*@
    $.post("../Kewangan8/AutoAktif", { HR_NO_PEKERJA: '@ViewBag.HR_NO_PEKERJA' });
</script>

