@model eSPP.Models.HR_TARIKH_ACARA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HR_TARIKH_ACARA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HR_TARIKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_TARIKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_WAKTU_MULA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_WAKTU_MULA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_WAKTU_AKHIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_WAKTU_AKHIR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_KETERANGAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_KETERANGAN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
